.view_profile_btn {
  height: 10px;
  background-color: rgba(66, 133, 17, 1);
  color: white;
  font-size: 12px;
  padding: 5px 5px 22px;
  border-radius: 6px;
  margin: 15px 18px;
}
.view_profile_btn:hover {
  text-decoration: underline;
  color: white;
}
