.app_header {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  grid-template-areas: ". header-logo header-nav header-langdropdown .";
  grid-column-gap: 20px;
  min-height: 40px;
  align-items: center;
  border-bottom: 4px solid #16b4dc;
  margin-top: 10px;
}
a, a:hover {
  text-decoration: none;
	color: black;
}
.app_logo {
  grid-area: header-logo;
  background: url(../../assets/heart.png) no-repeat ;
  background-position: 0px 7px;
}
.app_logo a {
  padding-left: 45px;
	font-weight: 800;
	font-size: 36px;
	font-family: 'OpenSans', sans-serif;
	
}
.decor {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 400;
	color: #72cae6;
	letter-spacing: 1px;
	position: absolute;
  padding-top: 5px;
  margin-left: -40px;
  
}
.app_header_nav {
  grid-area: header-nav;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  
}
.app_header_nav a:hover {
  border-radius: 5px;
  background-color:#16b4dc;
  cursor: pointer;
}