.lad_pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px;
    cursor: pointer;
}
.selected_page {
    font-weight: bold;
    background-color: #1f68ba;
    padding: 5px;
}
