.lad_pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px;
    cursor: pointer;
    
}
.pag_page {
    padding: 7px;
	background-color:#f5f5f5;
	color: #333;
}

.pag_page.selected_page {
    background-color: #57B711;
    color: white;
    font-weight: bold;
}
.pag_page :hover {
    background-color: #e3e3e3;
    text-decoration: underline;
}